.row-space{
    margin-top : 15px;
}

.control-float-right{
    float:right;
}

/*.grid-action-icon-space {
    margin: 5px;
}*/

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child{
text-align:center;
}
table tbody tr td a {
    margin: 5px;
}

.required-label {
    color: red;
    float: left;
    font-size: 30px;
    margin-left:5px;
}

table {
    width:100% !important;
}

.navbar {
    padding:0px 0px 0px 0px;
}

.main-header .sidebar-toggle {
    padding: 13px 15px
}

.navbar-custom-menu {
    margin-right: 10px;
}

a:not([href])
{
    color:white;
}

a:not([href]):hover{
     color:white;
}

.container-comp
{
    margin-left:0px;
}

.div-notification {
    float: right;
    margin-top: 4px;
}

.label-notification {
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
}

label {
    font-weight: 600;
}

.box-title {
    font-weight: 700;
}